/* Estilos normais para desktop */
.navbar .logo {
  width: 80px;
  height: 80px;
}

.navbar .search-container {
  margin-left: 35%;
  justify-content: center;
  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: grey; 
    border-radius: 50%; 
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: brightness(0.8);
}

.sr-only {
    color: grey; 
}


.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    color: grey; /* Altera a cor do ícone */
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
  /* Ajusta logo e campo de busca para ficarem lado a lado */
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .navbar .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    margin-left: 15%;
    width: 50%;
  }

 
  .navbar .icons-container {
    display: flex;
    justify-content: center; 
    gap: 50px;
    flex-direction: row;
    width: 100%;  }

  /* Remove a margem à direita dos ícones */
  .navbar-nav .nav-item {
    margin-right: 0; 
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* Navbar colapsada centralizada */
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
