
  .carousel-item img {
    width: 100%;
    height: auto;
    max-height: 300px; 
    object-fit: cover; 
  }
  
  
  @media (max-width: 768px) {
    .card-img-top {
      max-height: 300px; 
    }
    
    .carousel-item img {
      max-height: 300px; 
    }
  }
  